server {
  resolver 8.8.8.8;
  listen 443;
  server_name sub.domain.com;

  ssl on;
  ssl_certificate /your/cert/file;
  ssl_certificate_key /your/key/file;

  access_log  /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  rewrite /signup /session/new permanent;

  location = /session {
    root /your/project/root;
    fastcgi_pass   127.0.0.1:9000;
    fastcgi_index  session.php;
    fastcgi_buffer_size 128k;
    fastcgi_buffers 4 256k;
    include fastcgi_params;
    fastcgi_param  SCRIPT_FILENAME $document_root/session.php;
  }

  location / {
    gzip on;
    proxy_set_header Accept-Encoding "";
    proxy_redirect https://mobile.twitter.com/ https://sub.domain.com/;
    proxy_pass http://sub2.domain.com$request_uri;
    sub_filter http://t.co https://sub3.domain.com;
    sub_filter_once off;
    sub_filter_types application/json application/x-javascript;
  }
}

server {
  resolver 8.8.8.8;
  listen 80;
  server_name sub2.domain.com;

  access_log  /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  location / {
    gzip on;
    proxy_set_header Accept-Encoding "";
    proxy_redirect https://mobile.twitter.com/ https://sub.domain.com/;
    proxy_pass https://mobile.twitter.com$request_uri;
    sub_filter https://mobile.twitter.com https://sub.domain.com;
    sub_filter_once off;
  }
}

server {
  resolver 8.8.8.8;
  listen 443;
  server_name sub3.domain.com;

  ssl on;
  ssl_certificate /your/cert/file;
  ssl_certificate_key /your/key/file;

  access_log  /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  location / {
    gzip on;
    proxy_set_header Accept-Encoding "";
    proxy_redirect http://t.co/ https://sub3.domain.com/;
    proxy_redirect http://twitter.com/ https://sub.domain.com/;
    proxy_pass http://t.co$request_uri;
    sub_filter_once off;
  }
}
